<ul class="nav nav-tabs nav-fill">
  <li class="nav-item">
     <%= link_to 'Home', root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
    href="#" role="button" aria-haspopup="true" aria-expanded="false">Discover</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">About Us</a>
      <a class="dropdown-item" href="#">Saftey & Trust</a>
      <a class="dropdown-item" href="#">Insurance</a>
    </div>
     <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
    href="#" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Types of Requests</a>
      <a class="dropdown-item" href="#">B2B</a>
      <a class="dropdown-item" href="#">Join Us!</a>
    </div>
   </li>
   <% if logged_in? %>
  <li class="nav-item">
    <a class="nav-link disabled">Logged in as: <%= current_user.name%> </a>
  </li>
    <li class="nav-item">
    <%= link_to 'Account', logout_path, method: 'delete', class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Log Out', logout_path, method: 'delete', class: 'nav-link' %>
  </li>
  <% else %>
  <li class="nav-item"></li>
   <%= link_to 'Sign up ', new_user_path, class: 'nav-link' %>
  <li class="nav-item"></li>
   <%= link_to 'Sign In', new_session_path, class: 'nav-link' %>
  <% end %>
   <li class="nav-item">
    <a class="nav-link active" href="#">Contact Us</a>
   </li> 
   <div>
 <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 </div>
</ul>