<nav>
<ul class="nav nav-tabs nav-fill">
<li class="nav-item">
<%= link_to 'Home', root_path, class: 'nav-link' %>
</li>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown"role="button" aria-haspopup="true" aria-expanded="false">Discover</a>
<div class="dropdown-menu">
<div>
<%= link_to "About Us", about_us_path%>
</div>
<div>
<%= link_to "Saftey & Trust", trust_path %>
</div>
<div>
<%= link_to "Insurance", insurance_path%>
</div>
<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore</a>
<div class="dropdown-menu">
<div>
<%= link_to "Types of Request", requests_path%>
</div>
<div>
<%= link_to "Biz2Biz", b2b_path %>
</div>
<div>
<%= link_to "Join Us!", join_path%>
</div>
   <% if logged_in? %>
  <li class="nav-item">
    <a class="nav-link disabled">Logged in as: <%= current_user.name%> </a>
    <li class="nav-item">
    <%= link_to 'Account ', user_path(current_user), class: 'nav-link' %>
    <li class="nav-item">
    <%= link_to 'Log Out', logout_path, method: 'delete', class: 'nav-link' %>
  </li>
  <% else %>
  <li class="nav-item"></li>
   <%= link_to 'Sign up ', new_user_path, class: 'nav-link' %>
  <li class="nav-item"></li>
   <%= link_to 'Sign In', new_session_path, class: 'nav-link' %>
  <li class="nav-item"><li>
  <%= link_to 'Contact Us', contact_path, class: 'nav-link' %> 
  <% end %>
   </li> 
</ul>
</div>
  </ul>
</nav>