<title>delivr2U</title>
<style>
div {
  position: center;
}
h5 {
  color: black;
}
  body {
   background-image: url("https://images.unsplash.com/photo-1528324100-d0c311a3da67?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c70fb1f5990feea0c8ad474a092b0e6b&auto=format&fit=crop&w=754&q=80");
}
</style>
<header>
 <a href="https://imgur.com/7iLNYZ0"><img src="https://i.imgur.com/7iLNYZ0t.jpg" title="source: imgur.com" /></a>
<div class="card border-success mb-4" style="max-width: 25rem;">
  <div class="card-header"><h3>Profile</h3></div>
  <div class="card-body text-success">
    <h6 class="card-title">
    <h6><%= @user.nickname %></h6><%= @user.name %></h6> 
    <h6><%= @user.email %></h6><h6><%= @user.address %></h6>
    </header>
    </div>
    <body>
<div class="card border-success mb-4" style="max-width: 25rem;">
  <div class="card-header"><h5>Your Requests</h5></div>
  <div class="card-body text-success">
    <h6 class="card-title">
    <% @user.requests.each do |r| %>
    <div class="Request">
      <p><%= r.description %> | <%= r.destination %></p>
      <p><%= r.delivery_date %> | <%= r.delivery_time %></p>
      <p> <%= link_to("Edit", edit_request_path(r)) %> | <%= link_to("Delete", request_path(r), method: "DELETE") %> |
    </div>
    <% end %>
    <%= link_to("New", requests_path) %></p>
<body>
</div>
  


