<br>
<div class="row">
  <div class="col-md-6 offset-md-3">
  <h4>Submit your request</h4>
  <hr>
    <%= form_for @request do |f| %>  
    <div class="form-group">
        <%= f.label :delivery_date, 'Delivey Date' %>
        <%= f.text_field :delivery_date, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :delivery_time, 'Delivery Time*' %>
        <%= f.text_field :delivery_time, class: 'form-control' %>
      </div>
       <div class="form-group">
        <%= f.label :destination, 'Destination*' %>
        <%= f.text_field :destination, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :description, 'Description*' %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
      <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Upload an image of the item</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
      <% if logged_in? %>
      <%= f.submit 'submit request', class: 'btn btn-primary' %>

      <% else %>
      <button>
      <%= link_to 'Login', new_session_path %> 
      </button>
      <% end %>
       <div>
      </form>
<% end %>
</div>